/ASPNETCore_Demos/.vs
/ASPNETCore_Demos/ASPNETCore_Demos/obj
/ASPNETCore_Demos/ASPNETCore_Demos/bin
/ASPNETCore_Demos/ASPNETCore_Demos/wwwroot/css/site.min.css
/ASPNETCore_Demos/ASPNETCore_Demos/wwwroot/js/site.min.js
