/ASPNETCore_Demos/.vs
/ASPNETCore_Demos/ASPNETCore_Demos/obj
/ASPNETCore_Demos/ASPNETCore_Demos/bin
/ASPNETCore_Demos/BALHelper/obj
/ASPNETCore_Demos/BALHelper/bin
/ASPNETCore_Demos/Common/obj
/ASPNETCore_Demos/Common/bin
