
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    @RenderSection("scripts", false)
</head>
<body>

    <h1>Main Layout</h1>
    @RenderBody()

    <bilal name="Bilal Shahzad"></bilal>
    <my-configuration></my-configuration>
   <p bold>Hello world</p>
</body>
</html>
