@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<h3>ID is: @httpContextAccessor.HttpContext.Session.GetInt32("loginid")</h3>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
